/*
    Aling-content - tratamento do eixo vertical
    A altura do container deve ser maior que a soma dos itens
    center alinhamento ao centro
    stretch alinhamento conforme o maior
    flex-start alinhado no inicio
    flex-end alinhado no fim
    space-between espaço igual entre os elementos
    space-around meio duas vezes maior que as pontas

*/
.stretch{
    align-content: stretch;
}
.center{
    align-content: center;
}
.flex-start{
    align-content: flex-start;
}
.flex-end{
    align-content: flex-end;
}
.space-between{
    align-content: space-between;
}
.space-around{
    align-content: space-around;
}
.container{
    height: 500px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item{
    background-color: orangered;
    padding: 0 5px;
    flex: 1;
    text-align: center;
    color: white;
    margin: 5px;
}