/*
    Aling-self - modificar o alinhamento padrão do item

*/

.container{
    display: flex;
    border: 2px solid black;
    max-width: 400px;
    margin: 10px;
    height: 200px;
}

.item{
    background-color: blueviolet;
    color: white;
    font-size: 24px;
    margin: 5px;
    flex: 1;
}

.aling-center{
    align-self: center;
}
.aling-start{
    align-self: flex-start;
}
.aling-end{
    align-self: flex-end;
}
.aling-baseline{
    align-self: baseline;
}
.aling-stretch{
    align-self: stretch;
}